<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}?v={{ site.time | date: '%s' }}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'>
    {% if site.fathom_analytics %}
    <script src="https://cdn.usefathom.com/script.js" data-site="{{ site.fathom_analytics }}" defer></script>
    {% endif %}
  </head>
  <body>
  {{ content }}
  <script type="text/javascript">
  // Add Ref to External Links
  document.addEventListener('DOMContentLoaded', function() {
      var refValue = 'lnktr.net';
      var externalLinks = Array.from(document.querySelectorAll('a[href^="http"]:not([href*="' + window.location.hostname + '"])'));

      externalLinks.forEach(function(link) {
          var originalHref = link.getAttribute('href');
          var separator = originalHref.includes('?') ? '&' : '?';
          var modifiedHref = originalHref + separator + 'ref=' + encodeURIComponent(refValue);
          link.setAttribute('href', modifiedHref);
      });
  });
  // Open External Links in New Window
  var links = document.links;

  for (var i = 0, linksLength = links.length; i < linksLength; i++) {
    if (links[i].hostname != window.location.hostname) {
      links[i].target = '_blank';
      links[i].rel = 'noopener noreferrer';
    } 
  }
  </script> 
  </body>
</html>
