---
layout: default
---

<style>
body {
  background-image:url({{ page.bg-img }});
}
</style>

<div class="tree">

  <div class="header">
    <img src="{{ page.profile-pic }}" class="profile-pic" alt="{{ page.title }}" loading="lazy" />
  </div>
  <div class="name">{{ page.title }}</div>
  <div class="username">@{{ page.slug }}</div>
  <div class="intro">{{ page.intro }}</div>

{{ page.content }}

      <div class="footer">
          <p><a class="btn btn-primary" href="/directory/">Browse Directory</a></p>
          <p>Copyright &copy; {{ site.title }} - All Rights Reserved.</p>
      </div>
  
</div>

